workflow.json
{
  "name": "AI Frontier Daily RSS Collection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": "day"
        }
      },
      "id": "1",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://localhost:8080/webhook/collect",
        "jsonParameters": true,
        "options": {
          "responseFormat": "json"
        },
        "bodyParametersJson": "={\n  \"categories\": [\"cs.AI\", \"cs.LG\", \"cs.CL\", \"cs.CV\"],\n  \"days_back\": 1,\n  \"use_rss\": true,\n  \"translation_provider\": \"openai\",\n  \"summarization_provider\": \"openai\"\n}"
      },
      "id": "2",
      "name": "Start Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "http://localhost:8080/webhook/status/{{$json.task_id}}",
        "options": {
          "responseFormat": "json"
        }
      },
      "id": "3",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Start Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Collection": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}